body{
    background-image: url('https://images.unsplash.com/photo-1614850523060-8da1d56ae167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlnaHQlMjBjb2xvdXJ8ZW58MHx8MHx8&w=1000&q=80');

}
h1{
    text-align: center;
    font-weight: 900;
    color:brown;
    font-size:50px;
}

ul li{
    text-align: center;
    font-weight: 900;
    color:orchid;
    font-size:40px;
    list-style: none;
}